<h1>Welcome to Forgeddit</h1>
<h3>Please enter your information below:</h3>
<%= form_for @user, url: "/signup" do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email   %>
  <%= f.text_field :email  %>

  <%= f.submit %>
<% end %>
